# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3


# Ignore environment files
*.env




# VSCode / IDE config
.vscode/
*.swp

# Node.js
node_modules/
package-lock.json

# Build
dist/
build/

# Logs
*.log

# macOS
.DS_Store
